
<div class="row">
<div class="topnav" >
    <div class="center">
      <!-- a button call the function  "switchColorWhite()" when clicked and change the value of canvasColor to white-->
      <a      [ngStyle]="{ color : 'white' }"  (click)="switchColorWhite()"  role="button" >White</a>
      <!-- a button call the function  "switchColorBlue()" when clicked and change the value of canvasColor to blue -->
      <a     [ngStyle]="{ color : 'white' }" (click)="switchColorBlue()" role="button" >Blue</a>
    </div>

</div>
  <div class="row">

  </div>
</div>

