
<div class="row">
<div class="topnav" >
    <div class="center">
      <!-- a button redirect the page  to the component of the routelink in our case it redirect to white canvas component -->
      <a      [ngStyle]="{ color : 'white' }"  routerLink="/white"  role="button" >White</a>
      <!-- a button redirect the page  to the component of the routelink in our case it redirect to blue canvas component -->
      <a     [ngStyle]="{ color : 'white' }" routerLink="/blue" role="button" >Blue</a>
    </div>

</div>
  <div class="row">

  </div>
</div>

